<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vivedu.ckd.dao.CategoryMapper">

    <insert id="addCategory" parameterType="String">
        INSERT INTO category_code(courseTypeName,courseTypeCode,courseSort,courseHot,isDel)
        VALUES
        (#{courseTypeName},#{courseTypeCode},#{courseSort},#{courseHot},0)
    </insert>

    <update id="upCategory" parameterType="String">
        update category_code
        <set>
            courseTypeName=#{courseTypeName},courseTypeCode=#{courseTypeCode},courseSort={courseSort},courseHot=#{courseHot}
        </set>
        where category_code.courseTypeName=#{courseTypeName};
    </update>

    <select id="findAllCode" resultType="com.vivedu.ckd.model.categoryCode">
        select * from category_code where isDel=0
    </select>

    <update id="delCategroy" parameterType="String">
        update category_code
        <set>
           isDel=1
        </set>
        where category_code.courseTypeCode=#{courseTypeCode};
    </update>




    <select id="findAllCodeThird" resultType="com.vivedu.ckd.model.categoryThird">
        select * from category_third
    </select>

    <insert id="addCategoryThird" parameterType="String">
        INSERT INTO category_third(courseTypeName,courseTypeCode,courseSort,courseHot,isDel,source)
        VALUES
        (#{courseTypeName},#{courseTypeCode},#{courseSort},#{courseHot},0,#{source})
    </insert>

    <update id="upCategoryThird" parameterType="String">
        update category_third
        <set>
            courseTypeName=#{courseTypeName},courseTypeCode=#{courseTypeCode},courseSort={courseSort},courseHot=#{courseHot},source=#{source}
        </set>
        where category_third.courseTypeName=#{courseTypeName};
    </update>

    <update id="delCategroyThird" parameterType="String">
        update category_third
        <set>
            isDel=1
        </set>
        where category_third.courseTypeCode=#{courseTypeCode};
    </update>

    <select id="findOne"  resultType="com.vivedu.ckd.model.categoryCode">
        SELECT * FROM category_code WHERE LENGTH(category_code.courseTypeCode)=2 and isDel=0
    </select>

    <select id="findOneT"  resultType="com.vivedu.ckd.model.categoryThird">
        SELECT * FROM category_third WHERE LENGTH(category_third.courseTypeCode)=2 and isDel=0
    </select>

    <select id="findMore" resultType="com.vivedu.ckd.model.categoryCode">
        SELECT * FROM category_code WHERE category_code.courseTypeCode like concat(#{courseTypeCode},'%')
        and LENGTH(category_code.courseTypeCode)=CHAR_LENGTH(#{courseTypeCode})+2 and isDel=0
    </select>

    <select id="findMoreT" resultType="com.vivedu.ckd.model.categoryThird">
        SELECT * FROM category_third WHERE category_third.courseTypeCode like concat(#{courseTypeCode},'%')
        and LENGTH(category_third.courseTypeCode)=CHAR_LENGTH(#{courseTypeCode})+2 and isDel=0
    </select>

    <select id="findBen" resultType="com.vivedu.ckd.model.categoryCode">
        SELECT * FROM category_code WHERE category_code.courseTypeCode =#{courseTypeCode} and isDel=0
    </select>


    <select id="findBenT" resultType="com.vivedu.ckd.model.categoryThird">
        SELECT * FROM category_third WHERE category_third.courseTypeCode =#{courseTypeCode}
    </select>

</mapper>