<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vivedu.ckd.dao.CourseInfoMapper">
    <select id="findCourseByUserId" parameterType="String" resultType="com.vivedu.ckd.model.CourseInfo">
       SELECT * FROM course_info WHERE course_info.userId = #{userId} ORDER BY course_info.insertDate DESC  limit 10
       <!-- SELECT cl.name,cl.chapterId,cl.chapterId FROM course_info ci  LEFT join chapter_list cl on ci.courseId = cl.courseId-->
    </select>

    <select id="findCourseByUserIdPage" resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info WHERE course_info.userId = #{userId} ORDER BY course_info.insertDate DESC  limit #{pageNum},#{pageSize}
    </select>

    <select id="findCourseByUserIdNum" resultType="int">
        SELECT count(*) FROM course_info WHERE course_info.userId = #{userId}
    </select>

    <select id="findAllCourseNum" resultType="int">
        SELECT count(*) FROM course_info where 1=1
        <if test='state != null and state !=""'>
            and course_info.state=#{state}
        </if>
    </select>
    <select id="findCourseByKeyNum" resultType="int">
        SELECT count(*) FROM course_info WHERE course_info.courseName like concat('%',#{courseName},'%') and course_info.cover IS NOT NULL and course_info.cover !=""
        <if test='state != null and state !=""'>
            and course_info.state=#{state}
        </if>
    </select>
    <select id="findCourseByUserIdIf" resultType="com.vivedu.ckd.model.CourseInfo">
       SELECT * FROM course_info WHERE course_info.userId = #{userId}
        ORDER BY
        <choose>
            <when test="sort == 'asc'">
                course_info.clickNum
            </when>
            <when test="sort == 'des'">
                course_info.clickNum DESC
            </when>
            <otherwise>
                course_info.insertDate DESC
            </otherwise>
        </choose>
        limit #{pageNum},#{pageSize}
    </select>

    <select id="findCourseByKey" resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info WHERE course_info.courseName like concat('%',#{courseName},'%') and course_info.cover IS NOT NULL and course_info.cover !=""
        <if test='state != null and state !=""'>
            and course_info.state =#{state}
        </if>
        order by course_info.id  desc limit #{pageNum},#{pageSize}
    </select>

    <select id="findAllCourse"  resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info WHERE course_info.source!= "film"
        <if test='state != null and state !=""'>
            and course_info.state =#{state}
        </if>
        limit #{pageNum},#{pageSize}
    </select>

    <select id="findCourse"  resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info where course_info.id = #{id}
    </select>

    <select id="findCourseDatal"  resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info where course_info.id = #{id}
    </select>

    <update id="updateStudyCount">
        update
        course_info
        <set>
            studyCount = #{i}
        </set>
        where id = #{id}
    </update>

    <select id="findMarked" parameterType="String"  resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info where course_info.userId = #{courseId}
    </select>

    <select id="findT" parameterType="String"  resultType="com.vivedu.ckd.model.T_SHARE_CDXT_YJS_JBXX">
        SELECT * FROM T_SHARE_CDXT_YJS_JBXX
    </select>

    <select id="findCourseByfilmTop" resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info where course_info.source = #{film} limit #{page},#{size}
    </select>

    <select id="findRec" resultType="com.vivedu.ckd.model.CourseInfo">
        select * from course_info where source != "film" and isRec = 1 order by course_info.id desc  LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="recIndex" resultType="com.vivedu.ckd.model.CourseInfo">
        select * from course_info where source != "film" and isRec = 1 order by course_info.studyCount desc  LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="findrquick" resultType="com.vivedu.ckd.model.CourseInfo">
        select * from course_info where course_info.cover IS NOT NULL and course_info.cover !="" and course_info.source != "film" order by course_info.id  desc  LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="findquickRec" resultType="com.vivedu.ckd.model.CourseInfo">
        select * from course_info where source != "film" order by course_info.studyCount desc  LIMIT #{pageNum},#{pageSize}
    </select>


    <select id="findquickZiyuan" resultType="com.vivedu.ckd.model.CourseInfo">
        select * from course_info where source = 'film' order by course_info.id  desc   LIMIT #{pageNum},#{pageSize}
    </select>

    <insert id="updateCourse">
        INSERT INTO course_info(courseId,courseName,courseType,courseKeywords,studentNum,start,end,classHour,cover,profile,state,clickNum,courseFrom,url,source)
        VALUES
        <foreach collection="courseInfoFilmlist" item="course" separator=",">
            (#{course.courseid},#{course.coursename},#{course.courseType},#{course.courseKeywords},#{course.studentnum},#{course.start},#{course.end},#{course.classhour},#{course.cover},#{course.profile},#{course.state},#{course.clicknum},#{course.courseFrom},#{course.url},"film")
        </foreach>
    </insert>

    <insert id="InsertCourse">
        INSERT INTO course_info(courseId,courseName,courseType,courseKeywords,studentNum,start,end,classHour,cover,profile,state,source,clickNum,courseFrom,url)
        VALUES
        <foreach collection="courseInfoAilist" item="item" separator=",">
            (#{item.courseid},#{item.coursename},#{item.courseType},#{item.courseKeywords},#{item.studentnum},#{item.start},#{item.end},#{item.classhour},#{item.cover},#{item.profile},#{item.state},#{item.source},#{item.clicknum},#{item.courseFrom},#{item.courseUrl})
        </foreach>
    </insert>


    <insert id="InsertCourseDan"  parameterType="com.vivedu.ckd.model.CourseInfoAiVo">
        INSERT INTO course_info(courseId,courseName,courseType,courseKeywords,studentNum,start,end,classHour,cover,profile,state,source,clickNum,courseFrom,url)
        VALUES
            (#{courseid},#{coursename},#{courseType},#{courseKeywords},#{studentnum},#{start},#{end},#{classhour},#{cover},#{profile},#{state},#{source},#{clicknum},#{courseFrom},#{courseUrl})
    </insert>

    <insert id="InsertCourseOne"  parameterType="com.vivedu.ckd.model.CourseInfoAiVo">
        INSERT INTO course_info(courseId,courseName,courseType,courseKeywords,studentNum,start,end,classHour,cover,profile,state,source,clickNum,courseFrom,url,subjectcategory1,subjectcategory2,subjectcategory3)
        VALUES
        (#{courseid},#{coursename},#{courseType},#{courseKeywords},#{studentnum},#{start},#{end},#{classhour},#{cover},#{profile},#{state},#{source},#{clicknum},#{courseFrom},#{courseUrl},#{subjectcategory1},#{subjectcategory2},#{subjectcategory3})
    </insert>
    <update id="InsertCourseDanTeacher">
        update
        course_info
        <set>
            teacher = #{teacher}
        </set>
        where courseName = #{coursename}
    </update>
    <insert id="InsertCourseMetel">
        INSERT INTO course_info(courseId,courseName,url,courseType,cover,profile,source,courseFrom,subjectcategory1,subjectcategory2,subjectcategory3,profileEn,coursenameEn)
        VALUES
        <foreach collection="courseInfoMetelList" item="item" separator=",">
            (#{item.courseid},#{item.coursename},#{item.url},#{item.courseType},#{item.cover},#{item.profile},"MeTel",#{item.courseFrom},#{item.subjectcategory1},#{item.subjectcategory2},#{item.subjectcategory3},#{item.profileEn},#{item.coursenameEn})
        </foreach>
    </insert>

    <select id="query" resultType="com.vivedu.ckd.model.TimesStatistics">
        select * from times_statistics where typeTag = #{type}
    </select>

    <update id="update" parameterType="com.vivedu.ckd.model.TimesStatistics">
        update
        times_statistics
        <set>
            totalNumber = #{totalNumber},
            dayNumber = #{dayNumber},
            typeTag = #{typeTag},
            statisticalDate = #{statisticalDate}
        </set>
        where typeTag = #{typeTag}
    </update>

    <insert id="addTimesStatistics" parameterType="com.vivedu.ckd.model.TimesStatistics">
        INSERT INTO times_statistics(
        totalNumber,
        dayNumber,
        typeTag,
        statisticalDate)
        VALUES(
        #{totalNumber},
        #{dayNumber},
        #{typeTag},
        #{statisticalDate})
    </insert>

    <select id="getCountList" resultType="com.vivedu.ckd.model.StatisticsModel">
        SELECT
        ts.dayNumber,
        ts.totalNumber,
        (
        SELECT
        ts1.totalNumber
        FROM
        times_statistics ts1 where ts1.typeTag =1) studyNumber,
        ( SELECT
        count(*)
        FROM
        course_info) classNumber
        FROM
        times_statistics ts
        WHERE
        ts.typeTag = 0
    </select>

    <update id="updateStatisticsCount">
        update
        times_statistics
        <set>
            dayNumber=0
        </set>
        where typeTag = 0
    </update>

    <select id="findFilm" resultType="com.vivedu.ckd.model.CourseInfoFilm">
        select * from course_info  where  course_info.courseid  in
        <foreach collection="ghs" item="item" open="(" close=")" separator=",">
            #{item.courseid}
        </foreach>
    </select>

   <update id="updateFilm">
        <foreach collection="courseInfoFilmlistBen" item="course">
            update course_info
            <set>
             courseName=#{course.coursename},courseType=#{course.courseType},courseKeywords=#{course.courseKeywords},studentNum=#{course.studentnum},start=#{course.start},end=#{course.end},classHour=#{course.classhour},cover=#{course.cover},profile=#{course.profile},state=#{course.state},clickNum=#{course.clicknum},courseFrom=#{course.courseFrom},url=#{course.url},source="film"
            </set>
            where courseId=#{course.courseid};
        </foreach>
</update>

    <select id="findAi" resultType="com.vivedu.ckd.model.CourseInfoAi">
        select * from course_info  where  course_info.courseid  in
        <foreach collection="findAiSql" item="item" open="(" close=")" separator=",">
            #{item.courseid}
        </foreach>
    </select>

    <update id="updateAi">
        <foreach collection="updateAiSql" item="course">
            update course_info
            <set>
                courseName=#{course.coursename},courseType=#{course.courseType},courseKeywords=#{course.courseKeywords},studentNum=#{course.studentnum},start=#{course.start},end=#{course.end},classHour=#{course.classhour},cover=#{course.cover},profile=#{course.profile},state=#{course.state},clickNum=#{course.clicknum},courseFrom=#{course.courseFrom},url=#{course.courseUrl}
            </set>
            where courseId=#{course.courseid};
        </foreach>
    </update>

    <select id="findMete" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from course_info  where  course_info.courseName=#{name} and course_info.source="MeTel"
    </select>

    <select id="findAiVo" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from course_info  where  course_info.courseId=#{id}
    </select>

    <select id="findFilmT" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from course_info  where  course_info.courseId=#{id}
    </select>

    <update id="updateMete">
        <foreach collection="updateMeteSql" item="course">
            update course_info
            <set>
                courseType=#{course.courseType},cover=#{course.cover},profile=#{course.profile},courseFrom=#{course.courseFrom},url=#{course.url},subjectcategory1={course.subjectcategory1},subjectcategory2={course.subjectcategory2},subjectcategory3={course.subjectcategory3},profileEn={course.profileEn},coursenameEn={course.coursenameEn}
            </set>
            where course_info.courseName=#{course.coursename};
        </foreach>
    </update>

    <update id="updateMeteOne"  parameterType="com.vivedu.ckd.model.CourseInfoMetel">
            update course_info
            <set>
                courseType=#{courseType},cover=#{cover},profile=#{profile},courseFrom=#{courseFrom},url=#{url},subjectcategory1=#{subjectcategory1},subjectcategory2=#{subjectcategory2},subjectcategory3=#{subjectcategory3},profileEn=#{profileEn},coursenameEn=#{coursenameEn}
            </set>
            where course_info.courseName=#{coursename}and course_info.source="MeTel";
    </update>

    <select id="getRecommendCourseListK" resultType="int">
        SELECT count(*) FROM course_info where  course_info.source != "film"
    </select>

    <update id="updateRecommendCourse" parameterType="int">
        update course_info
        <set>
            isRec =#{isRec}
        </set>
        where
        id =#{id}
    </update>
    <select id="getRecommendCourseListL"  resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info WHERE course_info.source!= "film" limit #{firstIndex},#{pageSize}
    </select>


    <select id="findCoursetopState"  resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info
        <where>
            course_info.source != "film"
            <if test='state == 1 '>
                and course_info.state !=3
            </if>
            <if test='state == 3 '>
                and course_info.state =#{state}
            </if>
        </where>
        limit #{page},#{size}
    </select>
    <select id="findCoursetopStateT"  resultType="int">
        SELECT count(*) FROM course_info
        <where>
            course_info.source != "film"
            <if test='state == 1 '>
                and course_info.state !=3
            </if>
            <if test='state == 3 '>
                and course_info.state =#{state}
            </if>
        </where>
    </select>

    <select id="queryLessonsLearned" resultType="com.vivedu.ckd.model.LessonsLearned">
        select
        *
        from
        lessons_learned
        where
        studentID =#{studentID} and id =#{courseId}
    </select>

    <update id="updateLessonsLearned" parameterType="com.vivedu.ckd.model.LessonsLearned">
        update
        lessons_learned
        <set>
            createDate =#{createDate}
        </set>
        where
        studentID =#{studentID} and courseId =#{courseId}
    </update>

    <insert id="addLessonsLearned" parameterType="com.vivedu.ckd.model.LessonsLearned">
        insert
        into
        lessons_learned(
        studentID,
        courseId,
        createDate)
        VALUES(
        #{studentID},
        #{courseId},
        #{createDate})
    </insert>

    <select id="queryStudyDuration" resultType="com.vivedu.ckd.model.StudyDuration">
        select
        *
        from
        study_duration
        where to_days(createDate) = to_days(now()) and studentID = #{studentID}
    </select>

    <update id="updateStudyDuration" parameterType="com.vivedu.ckd.model.StudyDuration">
        update
        study_duration
        <set>
            learnTime =#{learnTime}
        </set>
        where
        studentID =#{studentID}
    </update>

    <insert id="addStudyDuration" parameterType="com.vivedu.ckd.model.StudyDuration">
        insert
        into
        study_duration(
        studentID,
        learnTime,
        createDate)
        VALUES(
        #{studentID},
        #{learnTime},
        #{createDate})
    </insert>

    <select id="queryCourseCount" resultType="int">
        select
        count(courseId)
        from
        lessons_learned
        where studentID =#{userId} and createDate between #{startDate} and #{endDate}
    </select>

    <select id="queryCourseEnd" resultType="int">
        select
        count(ll.courseId)
        from
        lessons_learned ll LEFT join course_info ci on ll.courseId = ci.courseId
        where ll.studentID =#{userId} and ci.state = 3 and ll.createDate between #{startDate} and #{endDate}
    </select>

    <select id="queryStudyDurationList" resultType="com.vivedu.ckd.model.StudyDuration">
        SELECT *,DAYOFWEEK(createDate) dayWeek FROM study_duration WHERE YEARWEEK(date_format(createDate,'%Y-%m-%d'),1) = YEARWEEK(now(),1) order by
        createDate ASC
    </select>

    <select id="queryCourseInfoList" resultType="com.vivedu.ckd.model.CourseInfo">
        select
        ci.*
        from
        lessons_learned ll LEFT join course_info ci on ll.courseId = ci.courseId
        where ll.studentID =#{userId} and ll.createDate between #{startDate} and #{endDate}
    </select>

    <select id="queryRank" resultType="int">
        SELECT
        CASE
        WHEN @prevRank = vs.size THEN  @curRank
        WHEN @prevRank := vs.size THEN  @curRank := @curRank + 1
        END AS rankok
        FROM
        (SELECT ll.studentID,COUNT(ll.studentID) size FROM lessons_learned ll  where ll.createDate between #{startDate} and #{endDate} GROUP BY ll.studentID ) vs,
        (SELECT @curRank :=0 ,@prevRank :=NULL) r
        where vs.studentID =#{userId}
        ORDER BY vs.size
    </select>

    <select id="queryAllCount" resultType="int">
        SELECT MAX(tt.rankok) FROM (SELECT
        CASE
        WHEN @prevRank = vs.size THEN  @curRank
        WHEN @prevRank := vs.size THEN  @curRank := @curRank + 1
        END AS rankok
        FROM
        (SELECT ll.studentID,COUNT(ll.studentID) size FROM lessons_learned ll  where ll.createDate between #{startDate} and #{endDate} GROUP BY ll.studentID ) vs,
        (SELECT @curRank :=0 ,@prevRank :=NULL) r
        where vs.studentID =#{userId}
        ORDER BY vs.size) tt
    </select>

    <select id="queryKCPK" resultType="com.vivedu.ckd.model.T_SHARE_CDXT_BKS_KCPK">
        SELECT
        *
        FROM
        t_share_cdxt_bks_kcpk
        WHERE
        XKKH IN (
        SELECT
        XKKH
        FROM
        t_share_cdxt_bks_xsxk
        WHERE
        XH = #{userId} AND CZLX &lt;&gt; "D"
        )
        AND IFNULL(SUBSTRING(SKZC, #{week}, 1), 0) = 1 AND CZLX &lt;&gt; "D"
    </select>

    <select id="queryJSPK" resultType="com.vivedu.ckd.model.T_SHARE_CDXT_BKS_KCPK">
        SELECT
        *
        FROM
        t_share_cdxt_bks_kcpk
        WHERE
        XKKH IN (
        SELECT
        XKKH
        FROM
        t_share_cdxt_bks_jspk
        WHERE
        ZGH = #{userId} AND CZLX &lt;&gt; "D"
        )
        AND IFNULL(SUBSTRING(SKZC, #{week}, 1), 0) = 1 AND CZLX &lt;&gt; "D"
    </select>


    <update id="updateAiCourseOneTeacherAndChapList">
            update course_info
            <set>
                teacher=#{teacherData},chapterList=#{chapterListData}
            </set>
            where courseName=#{coursename}and source=#{source};
    </update>

    <update id="updateAiCourse">
        update course_info
        <set>
            courseName=#{coursename},courseType=#{courseType},courseKeywords=#{courseKeywords},studentNum=#{studentnum},start=#{start},end=#{end},classHour=#{classhour},cover=#{cover},profile=#{profile},state=#{state},clickNum=#{clicknum},courseFrom=#{courseFrom},url=#{courseUrl},subjectcategory1=#{subjectcategory1},subjectcategory2=#{subjectcategory2},subjectcategory3=#{subjectcategory3}
        </set>
        where courseId=#{courseid}and source=#{source};
    </update>

    <insert id="InsertCourseOneMe"  parameterType="com.vivedu.ckd.model.CourseInfoMetel">
        INSERT INTO course_info(courseId,courseName,courseType,cover,profile,source,courseFrom,url,subjectcategory1,subjectcategory2,subjectcategory3)
        VALUES
        (#{courseid},#{coursename},#{courseType},#{cover},#{profile},"MeTel",#{courseFrom},#{url},#{subjectcategory1},#{subjectcategory2},#{subjectcategory3})
    </insert>

    <insert id="updateCourseFilm"  parameterType="com.vivedu.ckd.model.CourseInfoFilm">
        INSERT INTO course_info(courseId,courseName,courseType,courseKeywords,studentNum,start,end,classHour,cover,profile,state,clickNum,courseFrom,url,source)
        VALUES
            (#{courseid},#{coursename},#{courseType},#{courseKeywords},#{studentnum},#{start},#{end},#{classhour},#{cover},#{profile},#{state},#{clicknum},#{courseFrom},#{url},"film")
    </insert>

    <update id="updateFilmeOne">
            update course_info
            <set>
                courseName=#{coursename},courseType=#{courseType},courseKeywords=#{courseKeywords},studentNum=#{studentnum},start=#{start},end=#{end},classHour=#{classhour},cover=#{cover},profile=#{profile},state=#{state},clickNum=#{clicknum},courseFrom=#{courseFrom},url=#{url},source="film"
            </set>
            where courseId=#{courseid}and source=#{source};
    </update>

    <select id="getRecommendCourseList" resultType="com.vivedu.ckd.model.CourseInfo">
        SELECT * FROM course_info
        <where>
            source != "film"
            <if test="source != null and source !=''">
                and source =#{source}
            </if>
            <if test="courseName != null and courseName !=''">
                and course_info.courseName like concat('%',#{courseName},'%')
            </if>
            <if test='isRec == 1'>
                and isRec = 1
            </if>
            and insertDate between #{startDate} and NOW()
        </where>
        ORDER BY
        <choose>
            <when test="sortId == 1">studyCount DESC</when>
            <otherwise>
                studyCount ASC
            </otherwise>
        </choose>
        limit #{firstIndex},#{pageSize}
    </select>

    <select id="getRecommendCourseListSize" resultType="int">
        SELECT count(*) FROM course_info
        <where>
            source != "film"
            <if test="source != null and source !=''">
                and source =#{source}
            </if>
            <if test="courseName != null and courseName !=''">
                and course_info.courseName like concat('%',#{courseName},'%')
            </if>
            <if test='isRec == 1'>
                and isRec = 1
            </if>
            and insertDate between #{startDate} and NOW()
        </where>
    </select>
</mapper>